@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #__next {
  font-family: 'Arial';
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.markdown {
  font-family: 'Arial';
}

.markdown a {
  text-decoration: none;
  color: blue;
}

.markdown a:hover {
  opacity: 0.6;
}

.markdown h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2.074em;
  font-weight: bold;
}

h2 {
  font-size: 1.728em;
  font-weight: bold;
}

h3 {
  font-size: 1.44em;
  font-weight: bold;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

a, .link {
  font-size: 1.2em;
  font-weight: bold;
  color: blue;
}